/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style: none;
    margin-bottom: 0;

    padding-left: 0;
}

img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Form */
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}


/*variables*/
:root {
    --nav-background-color: #fff5ee;
    --navy: #090F1B;
    --orange: #da532c;
    --blue: #5B87D0;
}


/*Main styles*/
body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100dvh;
    margin: 0 auto;
    color: var(--navy);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}
.grid {
    display: grid;
    grid-template-columns:1fr 10fr;
    align-items: center;
}

a:hover{
    color: var(--orange) !important;
}

.main-image-animation {
    background:radial-gradient(var(--blue),var(--navy));
    position: relative;
}
.speech-bubble {    
    max-height: 200px;
    position: absolute;
    right: -29rem;
    top: 4rem;
}
.logo{
    padding: 0;
}
.logo img{
    max-height: 150px;
    width: 100px !important;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.title-header {
    padding-top: 3rem;
}
.title-header h1 {
   font-size:xx-large;
}

.main-image-animation h1, .main-image-animation p {
    color:#fff;
    text-align: center !important;
}
.main-animation-image {
    margin-bottom: 4rem;
}
.carousel-control-next, .carousel-control-prev {
    z-index:10 !important;
}
.carousel-control-next {
    justify-content: right;
}
.carousel-control-prev {
    justify-content: left;
}
.crying, .sad, .slightly-sad, .content, .happy, .very-happy {
    position: relative;
}
.cable, .cable-energy {
    position:absolute !important;
    bottom:0;
    left:0
}
.cable {
    z-index:1;
}
.cable-energy {
    z-index:2;
    opacity:0;
}
.main-animation-image {
    z-index:5;
    position: relative;
}
.main-container {
    flex-grow: 1;
}

.main-container p {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    text-align: center;
}

.main-container img {
    width: -webkit-fill-available;
    /*border-radius: 5%;*/
}

.main-container h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-inline: auto;
    text-align: center;
}

.main-imposter {
    background: var(--orange);
    color: #fff;
    margin: 0;
    padding: 3rem
}

.main-imposter p {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    text-align: center;
}

.main-imposter img {
    width: -webkit-fill-available;
    border-radius: 5%;
}

.main-imposter h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-inline: auto;
    text-align: center;
}
.main-description {
    margin: 20px 0;
    font-family: Calibri, serif;
    font-size: 1.5rem;
    font-style: oblique;
    padding: 0 30px;
}

.main-section {
    color: seashell;
    position: relative;
    height: 30em;
    width: 100%;
    background: rgb(131, 58, 180);
    background: linear-gradient(58deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    display: flex;
}

.main-image {
    position: sticky;
    left: 50%;
}

.main-image img {
    height: 20em;
}

.main-section h2 {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 5rem;
    width: 30rem;
}

.main-section p {
    position: absolute;
    bottom: 2em;
    right: 1em;
    font-size: 3rem;
    width: 44%;
}
.video-title {
    text-align:center;
    padding-bottom: 1.5rem;
    font-size: 20px;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.section-spotify-wrapper p {
    font-size:18px;
}
.spotify-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


@media (max-width: 40em) {
    .main-section {
        height: 25em;
    }

    .main-section h2 {
        top: 1em;
        left: unset;
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }

    .main-section p {
        text-align: center;
        bottom: 3em;
        right: unset;
        left: 0;
        font-size: 2rem;
        width: 100%;
    }

    .main-image {
        position: sticky;
        margin-top: 100px;
    }

    .main-image img {
        height: 10em;

    }
}

.main-image img {
    margin-inline: auto;
    object-fit: scale-down;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 30px;
}


@media (max-width: 991px) {
    .youtube .section-youtube-wrapper {
        grid-template-rows: repeat(3, 250px);
        grid-template-columns: none;
    }
}
.section-youtube-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 5px 50px;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
}
.youtube-container:first-child {
    margin-bottom: 25px;
}
#spotify {
    padding: 3rem 0;
}
.spotify-player-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
}

.spotify-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
}

.spotify-player {
    width: 100%;
    border-radius: 12px;
    height: 352px;
    margin-top: 10px;
}

.spotify-link {
    display: flex;
    justify-content: center;
}

.youtube-container iframe {
    width: 300px;
    height: auto;
}

#testimonials {
    padding: 3rem 0;
    background: var(--blue);
}

.testimonials-section {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 50px;
}

.testimonial {
    width: 300px;
}

.testimonial h2 {
    margin-top: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.testimonial p {
    margin-top: 30px;
    text-align: justify;
    margin-inline: auto;
    text-align: center;
    font-size: 24px;
}

@media (max-width: 991px) {
    .testimonial {
        margin: 10px;
    }

    .testimonials-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        vertical-align: middle;
    }

    .picture-and-name {
        width: 40%;
        margin: auto;
        display: inline-table;
        text-align: center;
    }

    .testimonials-section p {
        width: 50%;
        display: inline-block;
        padding-left: 10px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .testimonial-right {
        left: auto;
    }
}

footer {
    display: flex;
    background: linear-gradient(58deg,
     rgba(131, 58, 180, 1) 0%,
     rgba(253, 29, 29, 1) 50%,
     rgba(252, 176, 69, 1) 100%);
     padding: 3rem 0;
}

.heading {
    font-size: 40px;
    margin-bottom: 2rem;
    color: #fff5ee;
    text-align: center;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    text-align: center;
}

.profile {
    flex-basis: 260px;
    margin: 0 auto;
}

.profile .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(10px 10px 25px rgb(242, 236, 236));
    cursor: pointer;
    transition: 300ms;
}
.profile:hover {
    filter: grayscale(0);
}

.user-name {
    margin-top: 20px;
    font-size: 25px;
}

.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #83f1fb;
}
.profile p {
    font-size: 16px;
    margin-top: 10px;
    
    text-align: justify;
}
.github-icon {
    display:inline-block;
}
.github-icon img {
    height:25px;
}
@media only screen and (max-width:1150px) {
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 18px;
    }
}
@media only screen and (max-width:900px) {
    .heading {
        font-size: 40px;
        text-align: center;
    }
    .profiles {
        margin: 20px 0;
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
    .grid, .spotify-section {
        grid-template-columns: 1fr;;
    }
}